configuration {
    font: "Noto Sans 12";
    drun {
        display-name: "Search:";
    }
    run {
        display-name: "Run:";
    }
    ssh {
        display-name: "SSH:";
    }
    window {
        display-name: "Window:";
    }
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;
    bg: rgba(38, 35, 58, 0.8);
	  cur: #1f1d2e;
	  fgd: #e0def4;
	  red: #eb6f92;
    border: 0px solid;
    separatorcolor: transparent;
}
window {
    fullscreen: true;
    padding: 350px 100px;
    background-color: @bg;
    spacing: 10px;
}
inputbar {
    padding: 5px 10px;
    children: [prompt, entry];
    spacing: 10px;
}
prompt {
    text-color: @fgd;
}
entry {
    text-color: @fgd;
}
listview {
    lines: 5;
    spacing: 5px;
}
scrollbar {
    handle-width: 0px;
    handle-color: @fgd;
    background-color: rgba(0, 0, 0, 0);
}
element {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
    children: [element-icon, element-text];
}
element normal.normal {
    background-color: rgba(0, 0, 0, 0);
}
element alternate.normal {
    background-color: rgba(0, 0, 0, 0);
}
element selected.normal {
    background-color: @fgd;
}
element-text {
    text-color: @fgd;
}
element-text selected {
    text-color: @cur;
}
