configuration {
    font: "Noto Sans 12";
    modi: "drun,run,window";
    drun {
        display-name: "Search:";
    }
    run {
        display-name: "Run:";
    } 
    window {
        display-name: "Window:";
    }
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;
    bg: rgba(16, 16, 16, 0.7);
	  cur: #1f1f1f;
	  fgd: #e1e1e1;
	  red: #989898;
    border: 0px solid;
    separatorcolor: transparent;
}
window {
    fullscreen: true;
    padding: 350px 200px;
    background-color: @bg;
    spacing: 10px;
}
inputbar {
    children: [prompt, entry, mode-switcher];
    spacing: 10px;
}
prompt {
    padding: 5px 10px;
    text-color: @fgd;
}
entry {
    padding: 5px 10px;
    text-color: @fgd;
}
mode-switcher{
    spacing: 5px;
}
button{
    border-radius: 5px;
    padding: 5px 15px;
    width: 125px;
    background-color: rgba(0, 0, 0, 0);
    text-color: @fgd;
}
button selected{ 
    background-color: @fgd;
    text-color: @cur;
}
textbox {
    text-color: @fgd;
}
listview {
    spacing: 5px;
    columns: 3;
}
scrollbar {
    handle-width: 5px;
    handle-color: @fgd;
    background-color: rgba(0, 0, 0, 0);
}
element {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
    children: [element-icon, element-text];
}
element normal.normal {
    background-color: rgba(0, 0, 0, 0);
}
element alternate.normal {
    background-color: rgba(0, 0, 0, 0);
}
element normal.active {
    background-color: @fgd;
}
element alternate.active {
    background-color: @fgd;
}
element selected.normal {
    background-color: @fgd;
}
element selected.active {
    background-color: @fgd;
}
element-text {
    text-color: @fgd;
}
element-text selected {
    text-color: @cur;
}
element-text active {
    text-color: @cur;
}
