window#osd {
  padding: 0px 6px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background: #161616;
}

image,
label {
  color: #e1e1e1;
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #262626;
}
progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #e1e1e1;
}

#container {
  margin: 6px;
}
